@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');
* {
  font-family: 'DynaPuff', cursive;
}
.card {
  border-radius: 0;
  padding-top: 8rem;
  border: none;
}
nav {
  height: 90px;
}
.navbar-brand {
  font-size: 2em;
}
svg.bi {
  width: 3rem;
  height: 3rem;
}
@media (max-width: 992px) {
  .offcanvas-body {
    font-size: 2em;
  }
  .offcanvas-body ul {
    justify-content: center;
    align-items: center;
  }
}
